* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* H E A D E R */

header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

header img {
    height: 100px;
    width: 100px;
}

.list-group-item {
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    transition: transform 0.5s;
}


/* M A I N */

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item:hover {
    scale: 1.005;
    cursor: pointer;
}